@charset "UTF-8";

#contents{
	padding : 30px 0px 30px 0px;	
}

/*#contents>div{
	border : 1px solid #000000;
}*/

#contents>#aside{
	margin : 0px 10px 0px 0px;
	float : left;
	width : 170px;
}

#contents>#aside>h2
{
	padding : 25px 0px 25px 0px;
	/* 만약 엄격하게 height : 60px 값을 고수해야 한다면 */
	/* height : 60px;  + */
	/* line-height : 60px; */
	background-color: #DDDDDD;
	text-align : center;
	font-size : 20px;
}

#contents>#aside>ul>li{
	margin : 5px 0px 0px 0px;
	padding : 8px 0px 8px 10px;
	border : 1px solid #a6a6a6;
}



#contents>#main-content{
	float : left;
	width : 820px;
}